.DS_Store
npm-debug.log

node_modules
build
.vscode-test

test/**/data-dir/**
!test/**/data-dir/User
test/**/data-dir/User/**
!test/**/data-dir/User/settings.json

dist
server/dist
docs/.vuepress/dist

bin/
!bin/*.conf
logs/
runs/

*.zip
*.vsix

.nyc_output
coverage.lcov

**/*.tsbuildinfo
