.DS_Store
npm-debug.log

node_modules
.vscode-test

test/**/data-dir/**
!test/**/data-dir/User
test/**/data-dir/User/**
!test/**/data-dir/User/settings.json

dist
server/dist
docs/.vuepress/dist

etl_ui_viewer/node_modules
etl_ui_viewer/dist
etl_ui_viewer/build

logdb/
bin/
logs/
runs/
demo_out1/
demo_out2/

*.zip
*.vsix

*.a
*.dll
*.exe

.nyc_output
coverage.lcov

**/*.tsbuildinfo
