.DS_Store
npm-debug.log

node_modules
.vscode-test

test/**/data-dir/**
!test/**/data-dir/User
test/**/data-dir/User/**
!test/**/data-dir/User/settings.json

dist
server/dist
docs/.vuepress/dist

dev_ui_viewer/node_modules
dev_ui_viewer/dist
dev_ui_viewer/build


bin/
logs/
runs/

*.zip
*.vsix

.nyc_output
coverage.lcov

**/*.tsbuildinfo
